.history/
app/bin/
.DS_Store
Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
.gradle/
.idea/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vscode/
setenv.sh

