#!/bin/bash

export GCP_PROJECT_ID=<PROJECT_ID>
export MICRONAUT_ENVIRONMENTS=dev,dev-data
export MICRONAUT_SERVER_PORT=8080

export VITE_BACKEND_URL=<BACKEND_URL>
export STORAGE_BUCKET_ID=<STORAGE_BUCKET_ID>
export GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
export GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>

export RECAPTCHA_SECRET=<RECAPTCHA_SECRET>
export VITE_GOOGLE_RECAPTCHA_KEY=<RECAPTCHA_KEY>

export SAFESEARCH_KEY=<SAFESEARCH_KEY>
