---
micronaut:
  security:
    token:
      jwt:
        signatures:
          jwks:
            unityauth: #Creates JwksSignature bean with unityauth qualifier
              url: 'https://localhost:8081/.well-known/jwks.json'
    redirect:
      login-success: http://localhost:3000
      login-failure: http://localhost:3000/?login-failed=true
      logout: http://localhost:8080
  server:
    cors:
      enabled: true
      configurations:
        allowedOrigins:
          - http://localhost:3000
          - localhost:3000
          - http://127.0.0.1:3000