---
micronaut:
  http:
    services:
      auth:
        url: ${AUTH_BASE_URL:`http://localhost:9090`}
  security:
    token:
      enabled: true
      jwt:
        enabled: true
        signatures:
          jwks:
            unity:
              url: ${AUTH_JWKS:`http://localhost:9090/keys`}
    redirect:
      login-success: http://localhost:3000
      login-failure: http://localhost:3000/?login-failed=true
      logout: http://localhost:8080
  server:
    cors:
      enabled: true
      configurations:
        all:
          allowedOriginsRegex: '^http(|s):\/\/([A-Za-z0-9\-]+\.)?localhost:3000$'
          allowedOrigins:
            - http://127.0.0.1:3000
            - http://libre311-ui:3000
            - http://libre311-ui-dev:3000
    port: 8080
---
app:
  service-id: ${LIBRE311_SERVICE_ID:1}

datasources:
  default:
    url: jdbc:mysql://localhost:23306/libre311?allowPublicKeyRetrieval=true&useSSL=false
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: test
    db-type: mysql

flyway:
  datasources:
    default:
      locations:
        - classpath:db/migration
        - classpath:local
